@{ 
	Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>ActionName</title>
	</head>
	<body>
		<div>The controller is: <strong>@ViewBag.Controller</strong></div>
		<div>The action is: <strong>@ViewBag.Action</strong></div>
		<div>The custom variable: <strong>@ViewBag.CustomVariable</strong></div>
	</body>
</html>